

.aside-menu{
   
    flex: 0 0 18%;
    max-width: 18%;
    background: #fff;
    height: 100vh;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5); 
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
    
    .logo{
        display: block;
        padding: 20px 0;
        margin: auto;
        width: 100%;
        border-bottom: 1px solid #ccc;
        text-align: center;
    }

    .nav{
        text-align: center;

        .nav-item{
            width: 100%;
            padding: 15px 20px;
            cursor: pointer;
            font-size: 14px;
            text-align: left;

            svg{
                padding-right: 10px;
                font-size: 26px;
            }

        }
    }

    
}

.active{
    color: rgb(16, 108, 212);
    
}

.active-border{
    border-left: 3px solid rgb(16, 108, 212);
    background: rgb(243, 243, 243);
                transition: all ease-in-out 0.2s;
}