

.right-block{
    width: 100%;

    .navbar{
        height: 71px;
        padding: 0;
        margin: 0;
        border-bottom: 1px solid #ccc;
    }

    .navbar-nav{
        width: 100%;
        height: 70px;

        .search-form{
            flex: 0 0 75%;
            margin: auto;
            height: 100%;
            

            form{
                width: 100%;
                height: 100%;
                margin: auto;
                display: flex;

                svg{
                    margin: auto 10px;
                }

                input{
                    width: 100%;
                    height: 100%;
                    border: none;
                    vertical-align: middle;
                    outline: none;
                }
            }
        }

        .nav-notification{
            position: relative;
            flex: 0 0 5%;
            // margin: auto;
            text-align: center;
            border-left: 1px solid #ccc;
            border-right: 1px solid #ccc;
            cursor: pointer;

           

            .notification{
                padding-top: 20px;

                
            }

            .notification-count{
                
                position: absolute;
                top: 50%;
                right: 15%;

                p{
                    // add 2px left and right if number is more than 99
                    padding: 5px;
                    font-size: 8px;
                    color: #fff;
                    background: red;
                    border-radius: 50%;

                }
            }

            svg{
                font-size: 26px;
            }
        }

        .nav-user{
            flex: 0 0 20%;
            position: relative;
            
            .dropdown-menu{
                padding: 0;
                width: 110%;
                
                a{
                    padding: 12px 20px !important;
                }
            }

            #navbarDropdownMenuLink{
                display: flex;

                p{
                    margin: auto 10px;
                }

                svg{
                    margin: auto 5px;
                }
            }

            img{
                width: 50px;
                border-radius: 50%;
                margin-left: 10px;
            }

            .dropdown-menu a{
                padding: 10px;
            }

            .logout-btn:hover{
                background: rgba(255, 0, 0, 0.068) !important;
            }
        }
    }

    .dropdown-menu{
        position: absolute;
        top: 71px ;
        border-radius: 0;
        border-top: 0;
        margin: 0;
        // display: block !important;
    }
}



.dropdown-toggle::after{
    display: none;
}

.drop-notification{
    right: 0 !important;
  
    .dropdown-item{
        white-space: normal;
    }

    .not-box {
        width: 400px;
        height: auto;
        display: flex;

        .not-icon{
            flex: 0 0 10%;
            margin: auto;

            svg{
                background: #ccc;
                border-radius: 50%;
                padding: 3px;
            }
        }

        .not-content{
            flex: 0 0 80%;

            span{
                font-weight: bold;
            }

            h6{
                margin-bottom: 10px;
            }

            p{
                line-height: 1.5;
            }
        }
    }
}


.green{
    color: rgb(9, 224, 117);
}

.red{
    color: rgb(255, 0, 0);
}

.hide{
    display: none !important;
}

.show{
    display: block;
}