@import './typography';
@import './config';
@import './left-navigation';
@import './right-top-navigation';
@import './colors';

body{
    margin: 0;
    padding: 0;
    line-height: 1.2;
}

#root{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.flex{
    display: flex;
}

.right-block{
    flex: 0 0 82%;
}