@import './typography';
@import './config';
@import './left-navigation';
@import './right-top-navigation';
@import './colors';

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    line-height: 1.2;
}

#root{
    // overflow: hidden;
    margin: 0;
    padding: 0;
}

.flex{
    display: flex;
}

